.html {
  font-size: 100%;
}
  
body {
  background-color: blue;
  font-family: cursive, Verdana;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main {
  margin: 20px;
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  flex: 1;
}

.h1 {
  margin: 0;
  font-size: 7.5rem;
  font-weight: 800;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.5rem;
  margin: 5px;
  margin-bottom: 15px;
  line-height: 1;
  text-align: center;
}

p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  color: red;
}

.navbar {
  background-color: red;
  line-height: 1;
}

.navbar-brand {
  text-transform: uppercase;
  color: red;
}

.btn-warning {
  background-color: red;
  border: none;
}

.btn-warning:hover {
  background-color: red;
  border: none;
}

.btn-warning:active, .pokemon-button:active {
  background-color: darkred !important;
  color: white !important;
}

.btn-warning:focus, .pokemon-button:focus, .form-control:focus {
  box-shadow: none !important;
}

.form-control {
  border: none;
}


a, a:active, a:visited, a:focus {
  color: yellow
}

.pokemon-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
}

.pokemon-button {
  padding: 8px;
  font-size: 2.0rem;
  border: none;
  background-color: yellow;
  border-radius: 5px;
  margin: 10px;
  width: 200px;
  transition: 0.6s background-color;
  color: black;
}

.pokemon-button:hover {
  background-color: rgb(255, 51, 0);
  cursor: pointer;
  animation: pulse 0.5s;
  color: black;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(0.9);
  }

  100% {
      transform: scale(1);
  }
}


.lds-dual-ring {
  width: 150px;
  height: 150px;
}

.lds-dual-ring-hidden {
  display: none;
}

.lds-dual-ring-visible {
  display: inline-block;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 150px;
  height: 150px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid red;
  border-color: red transparent orangered transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-content {
  background-color: rgb(247, 247, 14);
}

img {
    align-self: center;
    max-width: 250px;
}